<div >
    <div class="col-xs-10 col-xs-offset-0 " >
                    <div class="well">
                        <form action="" class="dropzone" dropzone="" id="dropzone">
                            <div class="dz-default dz-message">
                            </div>                            
                        <form>                       
                       
                    </div>
                </div>
                
                                            
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="uploadFile()">Upload File</button>
                    <button class="btn btn-danger" ng-click="reset()">Reset Dropzone</button>
                </div>
</div>